html{
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #36393f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
background-color: #2f3136;
color: white;
/* overflow: scroll;
overflow-x: hidden; */
}

.channel {
  background-color: #36393f;
  color: white;
}

.notFound {
  color: white
}

#channel_button {
  background-color: transparent;
  color: white;
  border: none;
}

.hover:hover {
  background-color: grey;
}

.active{
  background-color: grey;
  font-weight: bold;
}

.messages-container{
  height: 85.9vh;
}

.home{
  height: 94.2vh;
}
